<div id="<%= dom_id meeting_location %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meeting_location.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lat:</strong>
    <%= meeting_location.lat %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lng:</strong>
    <%= meeting_location.lng %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Locationradius:</strong>
    <%= meeting_location.locationRadius %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= meeting_location.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= meeting_location.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Province:</strong>
    <%= meeting_location.province %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this meeting location", meeting_location, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this meeting location', edit_meeting_location_path(meeting_location), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
